/* reset */
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@font-face {
    font-family: "LeagueSpartan";
    src: url(LeagueSpartan-VariableFont_wght.ttf);
}

/* header */
header {
    height: 140px;
    background-color: #6DA7D9;
    padding: 0 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    font-family: "LeagueSpartan";
    padding: 0 10px;
    transition: 0.4s;
    font-size: 18px;
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none; 
    transition: 0.4s;
}

.mostrar-menu {
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #545454;
}

#check {
    display: none;
}

.menu .tramite-desplegable {
    position: relative;
    display: inline-block;
}

.menu .tramiteA {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.menu .subtramites {
    display: none;
    position: absolute;
    background-color: #6DA7D9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .subtramites a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.4s;
}

.menu .subtramites a:hover {
    background-color: #545454;
}

.menu .tramite-desplegable:hover .subtramites {
    display: block;
}

/*banner*/ 
#banner{
    padding: 0 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("humboldt_aereo.jpg");
    height: 55vh;
    background-size: cover;
    background-position: center;
}
#banner::before{
    content: " ";
   /* background: rgba(77, 77, 92, 0.6);*/
    position: absolute;
    width: 100%;
    height: 55vh;
    left: 0;
}
.contenido-banner h3{
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}
.contenido-banner h3 span{
    font-weight: 600;

}
.contenido-banner{
    position: relative;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* destacados */
#destacados{
    padding: 0px 50px;
    display: flex;
    align-items: center;
}
#destacados div{
    padding: 20px 20px;
    background-color: #6DA7D9;
    border-radius: 30px;
    margin: 15px 15px;
}
.destacados-a{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}
.destacados-a img{
    width: 85%;
}
.destacados-a a{
    width: 30%;
    justify-content: center;
    text-align: center;
}
#destacados div h4{
    color: white;
    font-size: 20px;
    margin: 15px 0px;
}
#destacados div p{
    color: white;
    font-size: 18px;

}
.boton-saber-mas{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border: 3px solid #BE3036;
    border-radius: 30px;
    margin-top: 15px;
    background-color: #BE3036;
    transition: all 0.4s;
}
.boton-saber-mas:hover{
    border: 3px solid #BE3036;
    background-color: #6DA7D9;
    color: #BE3036;
}
.titulo_destacados{
    padding: 0px 50px;
    font-size: 20px;
    margin: 15px 0px;
    color: #545454;
    
}
/* servicios */
#servicios {
    padding: 0px 50px;
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
}

.servicio {
    width: 300px; 
    margin-bottom: 30px;
    text-align: center; 
    background-color: #ffffff; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
}

.servicio img {
    width: 100%;
    border-radius: 10px; 
    margin-bottom: 15px;
}

.servicio a{
    text-decoration: none;
    font-family: "LeagueSpartan";
    color: #545454;
    transition: 0.4s;
}
.servicio a:hover{
    color: #6DA7D9;
}

.servicio:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
}
/* telefonos*/
.I-T{
    display: flex;
}
#telefonos{
    padding: 0px 50px;
}
.contenido-telefonos{
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}
.contenido-telefonos div{
    flex: 1;
    margin: 0.5px 0px;
    
}
.contenido-telefonos h6{
    color: #545454;
    font-weight: 100px;
    margin-left: 10px;
}
.contenido-telefonos p{
    color: #848181;
    font-weight: 100px;
    margin-left: 10px;
}
.boton-saber-mas-telefonos{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border: 3px solid #BE3036;
    border-radius: 30px;
    margin-top: 15px;
    background-color: #BE3036;
    transition: all 0.4s;
}
.boton-saber-mas-telefonos:hover{
    border: 3px solid #BE3036;
    background-color: white;
    color: #BE3036;
}
.boton-telefonos{
    text-align: center;
    padding-bottom: 50px;

}
.boton-saber-mas-telefonos-responsive{
    color: #545454;
    text-decoration: none;
    font-family: "LeagueSpartan";
    padding: 0 10px;
    transition: 0.4s;
}
.boton-telefonos-responsive{
    display: none;
    
}
/* Contacto institucional */
#contacto-institucional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 50px;
}

.contacto {
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
    padding-right: 10px; 
    border-right: 2px solid #545454;
}
.contacto img {
    margin-right: 10px; 
}

.contacto div {
    text-align: left; 
    padding-left: 10px; 
}

.contacto h4 {
    margin-bottom: 5px;
    color: #545454;
}

.contacto a {
    text-decoration: none;
    color: #848181;
    transition: color 0.4s;
}

.contacto a:hover {
    color: #BE3036;
}
.contacto-a{
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    margin-bottom: 20px;
    padding-right: 10px; 
}
.contacto-a img {
    margin-right: 10px; 
}

.contacto-a div {
    text-align: left; 
    padding-left: 10px; 
}

.contacto-a h4 {
    margin-bottom: 5px;
    color: #545454;
}

.contacto-a a {
    text-decoration: none;
    color: #848181;
    transition: color 0.4s;
}

.contacto-a a:hover {
    color: #BE3036;
}
/* footer */
footer{
    background: #545454;
    height: 100;
    padding-top: 40px;
    color: white;
}
.footer-contenido{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;
}
/* responsive */
@media(max-width: 768px ){
    /* header */
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #6DA7D9;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a,
    .menu .tramiteA {
        display: block;
        padding: 20px;
    }
    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu {
        right: 0;
    }
    .menu .subtramites {
        position: static;
        background-color: #545454;
        box-shadow: none;
    }
    .menu .subtramites a {
        padding: 10px 0;   
   
    }
    .menu .subtramites a:hover{
        color: #6DA7D9;
    }
    .menu .tramite-desplegable {
        display: block;
    }
    .menu .tramite-desplegable:hover .subtramites {
        display: block;
    }
    .menu .subtramites {
        display: none;
    }
    .menu .tramite-desplegable:focus-within .subtramites {
        display: block;
    }
    /* destacados */
    #destacados{
        flex-direction: column;
    }
    #destacados h4{
        display: none;
    }
    #destacados p{
        display: none;
    }
    /* telefonos */
    .I-T{
        display: none;
    }
    .boton-telefonos{
        display: none;
    }
    .boton-telefonos-responsive{
        display: flex;
        
    }
    .titulo_destacados{
        display: flex;
        flex-direction: column;
    }
    .contenido-telefonos{
        padding: 0px 0px;
    }
    /* SERVICIOS */
    #servicios {
        flex-direction: column;
        align-items: center; 
        text-align: center; 
    }

    .servicio {
        width: 70%; 
        margin-bottom: 30px;
    }
    /* contactio institucional */
    #contacto-institucional {
        padding: 20px;
    }

    .contacto {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
    }
    .contacto img {
        margin-right: 10px; 
    }
    .contacto div {
        flex: 1;
        text-align: left; 
    }
    .contacto h4 {
        margin: 0; 
        color: #545454;
    }
    .contacto a {
        display: block;
        color: #848181;
        transition: color 0.4s;
    }
    .contacto a:hover {
        color: #BE3036;
    }
}
